main{
    padding: 2rem 0;
}

.welcome{
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color: beige;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.detail{
    padding: 3rem 0;
    margin-bottom: 2rem;
    background-color:beige;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tag{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.viewerform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top_link{
    text-decoration:underline;
}